<div class="list-group">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item list-group-item-action text-capitalize"
    aria-current="true"
  >
    Slider
  </a>
  <a
    routerLink="/categories"
    routerLinkActive="active"
    class="list-group-item list-group-item-action text-capitalize"
    >categories</a
  >
  <a
    routerLink="/products"
    routerLinkActive="active"
    class="list-group-item list-group-item-action text-capitalize"
    >products</a
  >
</div>
