<div class="container">
  <div class="row">
    <!-- add new size -->
    <div class="col-sm-12">
      <button class="btn float-start btn-success mt-2 next" (click)="back()">
        back
      </button>
      <p class="lead text-capitalize text-center text-dark fw-bold">
        add product sizes
      </p>
      <form class="mt-5" [formGroup]="sizeForm" (ngSubmit)="addSize()">
        <div>
          <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="size name"
            formControlName="name"
          />
        </div>
        <div>
          <label for="exampleFormControlInput1" class="form-label"
            >Name in arabic</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="size name in arabic"
            formControlName="name_ar"
          />
        </div>
        <div>
          <label for="exampleFormControlInput1" class="form-label"
            >price in ksa</label
          >
          <input
            type="number"
            class="form-control"
            placeholder="price in KSA"
            formControlName="price_ksa"
          />
        </div>
        <div>
          <label for="exampleFormControlInput1" class="form-label"
            >price in uae</label
          >
          <input
            type="number"
            class="form-control"
            placeholder="price in UAE"
            formControlName="price_uae"
          />
        </div>
        <button class="btn btn-lg btn-dark float-end mt-2" type="submit">
          Add Size
        </button>
      </form>
    </div>
    <!-- table for all sizes -->
    <div class="col-sm-12" *ngIf="sizes.length != 0">
      <h3>All sizes</h3>
      <div class="table-responsive">
        <table class="table-striped table">
          <thead>
            <tr>
              <th>size name</th>
              <th>size name ar</th>
              <th>price ksa</th>
              <th>price uae</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let size of sizes">
              <td scope="row">{{ size.name }}</td>
              <td scope="row">{{ size.name_ar }}</td>
              <td scope="row">{{ size.price_ksa }}</td>
              <td scope="row">{{ size.price_uae }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteSize(size._id)">
                  delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-lg btn-danger" (click)="deleteAll()">
        Delete all
      </button>
    </div>
  </div>
</div>
