.accordion-button:not(.collapsed) {
  color: whitesmoke !important;
  background-color: black !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}

.form-control {
  background-color: #343a40 !important;
  color: #fff !important;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #fff !important;
}
.form-group label {
  color: black !important;
  font-family: "ChivoMono" !important;
}
