<div class="container">
  <div class="row">
    <h1 class="fw-bolder text-center text-dark mb-2">Sliders</h1>
    <div class="col-sm-12">
      <div class="accordion" id="accordion">
        <!-- adding new slider -->
        <div class="accordion-item">
          <p
            class="accordion-header accordion-button fw-bolder"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Add Slider Images
          </p>
          <div class="text-center mt-2" *ngIf="loading">
            <app-loading></app-loading>
          </div>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordion"
          >
            <div class="accordion-body">
              <div class="form-outline mb-4 text-center mt-5">
                <h4
                  class="text-center mt-5 text-capitalize display-5 text-dark"
                >
                  upload slider images
                </h4>
                <label class="form-label text-dark text-center" for="imageUrl">
                  choose image</label
                >
                <input
                  type="file"
                  id="imageUrl"
                  class="form-control"
                  accept="image/*"
                  (change)="imageUpload($event)"
                />
                <button
                  class="btn btn-lh btn-outline-info mt-5"
                  (click)="upload()"
                  [disabled]="!imageUrl.value"
                >
                  Upload
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- current sliders -->
        <div class="accordion-item">
          <p
            class="accordion-header accordion-button collapsed fw-bolder"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Current slider images
          </p>
          <div class="text-center mt-2" *ngIf="loadingSpinner">
            <app-loading></app-loading>
          </div>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordion"
          >
            <div class="accordion-body">
              <div class="text-center" *ngIf="slider.length != 0">
                <h6
                  class="text-center mt-5 text-capitalize display-5 text-dark"
                >
                  current slider images
                </h6>
                <div class="row">
                  <div class="col-sm-12 mt-2" *ngFor="let image of slider">
                    <div class="card">
                      <img
                        src="{{ image.imageUrl }}"
                        class="img-thumbnail img-fluid"
                        alt="slider image"
                      />
                    </div>
                    <button
                      class="btn btn-dark"
                      (click)="deleteImage(image._id)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
                <div class="text-end">
                  <button
                    class="btn btn-dark mt-5"
                    *ngIf="slider.length != 0"
                    (click)="deleteAllSliderImages()"
                  >
                    Delete All
                  </button>
                </div>
              </div>
              <h6 class="text-center text-dark" *ngIf="slider.length == 0">
                No Sliders !!
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
