<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>All Products</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="btn btn-success" routerLink="edit/asd">Edit</a>
                            <a class="btn btn-danger" >Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>