<div class="container">
  <div class="row">
    <!-- add new head -->
    <div class="col-sm-12">
      <button class="btn float-start btn-success mt-2 next" (click)="back()">
        back
      </button>
      <p class="lead text-capitalize text-center text-dark fw-bold">
        add product heads
      </p>
      <form class="mt-5" [formGroup]="headForm" (ngSubmit)="addHead()">
        <div>
          <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="head name"
            formControlName="name"
          />
        </div>
        <div>
          <label for="exampleFormControlInput1" class="form-label"
            >Name in arabic</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="head name in arabic"
            formControlName="name_ar"
          />
        </div>
        <button class="btn btn-dark btn-lg mt-2 float-end" type="submit">
          Add Head
        </button>
      </form>
    </div>
    <!-- table for all heads -->
    <div class="col-sm-12" *ngIf="heads.length != 0">
      <h3>All Heads</h3>
      <div class="table-responsive">
        <table class="table-striped table">
          <thead>
            <tr>
              <th>head name</th>
              <th>head name ar</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let head of heads">
              <td scope="row">{{ head.name }}</td>
              <td scope="row">{{ head.name_ar }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteSize(head._id)">
                  delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-lg btn-danger" (click)="deleteAll()">
        Delete all
      </button>
    </div>
  </div>
</div>
