<div class="container">
  <div class="row">
    <div class="col-sm-3 mt-2">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action text-capitalize"
          [ngClass]="adding ? 'active' : ''"
          (click)="adding = !adding"
        >
          Add new sub category
        </a>
        <a
          class="list-group-item list-group-item-action text-capitalize"
          [ngClass]="adding ? '' : 'active'"
          (click)="adding = !adding"
          >current sub categories</a
        >
      </div>
    </div>
    <!-- sub category form -->
    <div *ngIf="adding" class="col-sm-9">
      <form [formGroup]="subCategoriesForm" (ngSubmit)="addSubCategory()">
        <!-- name -->
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="name"
            name="name"
          />
        </div>
        <!-- name in arabic -->
        <div class="form-group">
          <label for="email">Name in arabic</label>
          <input
            type="email"
            class="form-control"
            formControlName="name_ar"
            id="email"
            name="email"
          />
        </div>
        <!-- category -->
        <div class="form-group">
          <label for="category">Category</label>
          <select
            class="form-control"
            id="category"
            name="category"
            (change)="chooseCategory($event)"
          >
            <option *ngFor="let cat of categories" [value]="cat._id">
              {{ cat.name }}
            </option>
          </select>
        </div>
        <!-- products -->
        <div class="form-group">
          <label for="category">Products</label>
          <ng-select
            [items]="products"
            [multiple]="true"
            bindLabel="name"
            bindValue="id"
            (change)="onChange($event)"
            class="form-control"
          >
          </ng-select>
        </div>
        <button type="submit" class="btn btn-lg btn-info mt-2">Submit</button>
      </form>
    </div>
    <!-- display all sub categories -->
    <ng-container *ngIf="!adding">
      <div
        class="col-sm-12 col-md-6 col-lg-3 offset-m6-3 mt-2"
        *ngFor="let subCat of subCategories"
      >
        <div class="card">
          <div class="text-center">
            <p class="text-dark fw-bolder lead">{{ subCat.name }}</p>
            <p class="text-dark fw-bolder lead">{{ subCat.name_ar }}</p>
          </div>
          <button class="btn btn-dark" (click)="deleteSubCategory(subCat._id)">
            Delete
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
