.list-group-item.active {
  background-color: #e39e4a;
  border-color: #e39e4a;
  color: #8a3135;
}
.list-group-item:not(.active) {
  background-color: #8a3135;
  border-color: #e39e4a;
  color: #e39e4a;
}
