<div class="container">
  <div class="row">
    <!-- add new cutting -->
    <div class="col-sm-12">
         <button class="btn float-start btn-success mt-2 next" (click)="back()">
        back
      </button>
      <p class="lead text-capitalize text-center text-dark fw-bold">
        add product cuttings
      </p>
      <form class="mt-5" [formGroup]="cuttingForm" (ngSubmit)="addCutting()">
        <div>
          <label for="exampleFormControlInput1" class="form-label"
            >Name</label
          >
          <input
            type="text"
            class="form-control"
           placeholder="cutting name"
           formControlName="name"
          />
        </div>
        <div>
          <label for="exampleFormControlInput1" class="form-label"
            >Name in arabic</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="cutting name in arabic"
            formControlName="name_ar"
          />
        </div>
        <button class="btn float-end btn-dark mt-2" type="submit">Add Cutting</button>
      
      </form>
    </div>
    <!-- table for all cuttings -->
      <div class="col-sm-12" *ngIf="cuttings.length != 0">
      <h3>All Cuttings</h3>
      <div class="table-responsive">
        <table class="table-striped table">
          <thead>
            <tr>
              <th>head name</th>
              <th>head name ar</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cutting of cuttings">
              <td scope="row">{{ cutting.name }}</td>
              <td scope="row">{{ cutting.name_ar }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteCutting(cutting._id)">
                  delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-lg btn-danger" (click)="deleteAll()">
        Delete all
      </button>
    </div>
  </div>
</div>
